@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--very-dark-blue-main-bg);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    position: relative;
}

.card {
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    margin: auto;
    max-width: 96%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}

.cube-container {
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cube-container .overlay {
    background-color: rgba(0, 255, 247, 0.5);
    border-radius: 15px;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
}

.cube-container .overlay .view {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cube-container:hover .overlay {
    opacity: 1;
}

.cube-container .cube {
    height: 100%;
    width: 100%;
}

.description {
    color: var(--white);
}

.description h3 {
    cursor: pointer;
    margin: 20px 0;
    transition: color .3s ease-in-out;
}

.description h3:hover {
    color: var(--cyan);
}

.description p {
    color: var(--soft-blue);
    font-size: 15px;
    font-weight: 300;
}

.description .stats {
    border-bottom: 1px solid var(--very-dark-blue-line);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 20px;
}

.description .stats span:first-child {
    color: var(--cyan);
    font-size: 16px;
}

.description .stats span .ethereum {
    vertical-align: bottom;
}

.description .stats span:last-child {
    color: var(--soft-blue);
    font-size: 15px;
    font-weight: 300;
}

.description .stats span .clock {
    vertical-align: sub;
}

.author {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.author .avatar {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 30px;
    margin-right: 20px;
    width: 30px;
}

.author p {
    color: var(--white);
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
    transition: color .3s ease-in-out;
}

.author p:hover {
    color: var(--cyan);
}

.author .color {
    color: var(--soft-blue);
}

.attribution {
    bottom: 0;
    color: var(--soft-blue);
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: var(--soft-blue);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.attribution a:focus,
.attribution a:hover {
    color: var(--cyan);
}